.cards-content {
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    min-height: 88vh;
}

.error-cards {
    padding: 140px;
    color: var(--color-rojo);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bold;
    text-align: center;
}