.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-block-start: 16px;
    margin-block-end: 16px;
    font-size: 14px;
    color: var(--color-gris-claro);
    padding-inline-start: 0;
    cursor: default;

    li+li:before {
        content: '>';
        margin: 0 8px;
    }

    a {
        cursor: pointer;
        font-size: 14px;
        color: var(--color-gris-claro);

        &:hover {
            font-weight: bold;
        }
    }
}